html{
    font-family: arial, sans-serif;
    height: 100%;
    overflow: hidden;
}
header {
    height: 40px;
    position: absolute;
    top: 16px;
    right: 15px;
    width: 100%;
    min-width: 980px;
}
#appsimg {
    margin-left: 15px;
    background: url('./img/appsH.png') no-repeat center center;
    opacity: .55;
    height: 30px;
    width: 30px;
}
#appsimg:hover {
    opacity: .85;
    cursor: pointer;
}
.head-buttons {
    position: absolute;
    margin-right: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.sign-in {
    top: 8px;
    border: 1px solid #4285f4;
    background-color: #4285f4;
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding: 0 12px;
    line-height: 28px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    height: 28px;
}
.sign-in:hover {
    cursor: default;
}
.sign-in:active {
    background-color: #3c7ae4;
}
.head-buttons-text {
    position: relative;
    top: 7px;
    font-size: 13px;
    color: rgba(0,0,0,.87);
    padding-left: 15px;
}
.head-buttons-text:hover {
    text-decoration: underline;
    opacity: 0.8;
}
a {
    text-decoration: none;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 980px;
}
main {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 143px;
}
.googleimg {
    position: relative;
    height: 92px;
    top: 55px;
}
.search {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border-radius: 2px;
    min-width: 585px;
    height: 44px;
    margin-top: 83px;
    bottom: 1px;
    left: 6px;
}
.search:hover{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08), 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);

}
.main-buttons {
    display: flex;
    position: relative;
    justify-content: center;
    top: 31px;
}
.button {
    position: relative;
    background-color: #f2f2f2;
    font-size: 13px;
    font-weight: bold;
    color: #757575;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    height: 36px;
    margin: 0 4px;
    padding: 1px 16px 0 16px;
    min-width: 54px;
}
.button:hover{
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}
.button:focus {
    border: 1px solid #4d90fe;
    outline: none;
}
#searchbox {
    position: relative;
    outline: 0;
    border: 0;
    left: 15px;
    top: 5px;
    width: 462px;
    height: 33px;
    font-size: 16px;
}
.keymic {
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 15px;
}
.keyboard {
    position: relative;
    display: flex;
    height: 44px;
    width: 30px;
    background: url('./img/keyboardH.png') no-repeat center center;
    margin-left: 36px;
    right: 3px;
    opacity: 0.6;
    top: -1px;
    padding-right: 12px;
}
.keyboard:hover {
    opacity:0.8;
    cursor: pointer;
}
.microphone {
    position: relative;
    left: 2px;
    height: 2345px;
    width: 24px;
    background: url('./img/micro.png') no-repeat center center;
    background-size: contain;
    top: -1px;
    margin-right: 1px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #f2f2f2;
    padding: 0;
    height: 83px;
    min-width: 980px;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-bottom-left {
    padding-left: 7px;
}
.footer-bottom-right {
    padding-right: 30px;
    height: 40px;
}
.footer-bottom-right-text {
    padding-left: 23px;
    color: #666;
    font-size: 13px;
    line-height: 40px;
}
.footer-bottom-left-text{
    padding-left: 23px;
    color: #666;
    font-size: 13px;
    line-height: 40px;
}
.footer-bottom-left-text:hover {
    text-decoration: underline;
}
.footer-bottom-right-text:hover {
    text-decoration: underline;
}
.country {
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    height: 41px;
    display: flex;
    align-items: center;
}
.country-text {
    margin-left: 30px;
    margin-bottom: 2px;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}
#moreAppsSheet {
    display: none;
    padding: 27px 0 8px 0;
    margin: 30px 0 0 -2px;
    border-top: 1px solid;
    border-color: rgba(0,0,0,.1);
    background: ;
}
.apps-table {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 265px;
    padding: 28px 28px 28px 26px;
    position: relative;
    bottom: 1px;
    left: 3px;
}
.apps-item {
    position: relative;
    top: 2px;
    flex-basis: 84px;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 8px 2px;
    font-size: 13px;
    text-align: center;
}
.apps-img {
    display: inline-block;
    text-align: center;
    height: 64px;
    width: 64px;
    background: no-repeat url("./img/backgroundApps.png") ;
}
.apps-item:hover {
    border: solid 1px rgba(0,0,0,.1);
    border-radius: 2px;
    margin: 7px 1px 1px 1px;
}
#moreApps-btn {
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 0;
    margin-right: -1px;
    padding-top: 12px;
    padding-bottom: 13px;
    background-color: #f5f5f5;
    font-size: 13px;
    color: rgba(0,0,0,0.87);
    cursor: pointer;
}
.apps-div {
    display: none;
    border: 1px solid #ccc;
    position: absolute;
    top: 44px;
    right: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    height: 496px;
    margin-bottom: 1px;
    padding-right: 1px;
    z-index: 1001;
    background-color: white;
}
.apps-txt {
    color: rgba(0,0,0,0.87);
    width: 100%;
}
#accountapp {
    background-position: 0 -344px;
}
#searchapp {
    background-position: 0 -482px;
}
#mapsapp {
    background-position: 0 -1586px;
}
#youtubeapp {
    background-position: 0 -2138px;
}
#playapp {
    background-position: 0 -2276px;
}
#mailapp {
    background-position: 0 -206px;
}
#driveapp {
    background-position: 0 -1862px;
}
#calendarapp {
    background-position: 0 -620px;
}
#plusapp {
    background-position: 0 -413px;
}
#translateapp {
    background-position: 0 -1931px;
}
#photosapp {
    background-position: 0 -1310px;
}
#docsapp {
    background-position: 0 -1793px;
}
#bloggerapp {
    background-position: 0 -551px;
}
#contactsapp {
    background-position: 0 -1448px;
}
#hangoutsapp{
    background-position: 0 -137px;
}
#keepapp {
    background: url("./img/keep.png") 0 1px;
}
#earthapp {
    background-position: 0 -965px;
    height: 64px;
    text-overflow: ellipsis;
}
#earth-text {
    white-space: nowrap;
    width: 84px;
    text-overflow: ellipsis;
    text-align: left;
}
#earth {
    width: 84px;
    margin-bottom: 40px;
}
#earth:hover {
    height: 102px;
    margin-bottom: 21px;
}
#earth:hover #earthapp {
    position: relative;
    top: 1px;
}
#earth:hover #other-services {
    top: 12px;
}
#earth:hover #earth-text {
    overflow: visible;
    white-space: normal;
    text-align: center;
    line-height: 1.5;
}
#other-services-btn {
    font-size: 13px;
    color: rgba(0,0,0,0.87);
    justify-content: center;
    position: relative;
    top: 2px;
    right: 1px;
    margin-bottom: -14px;
}
#other-services-btn:hover {
    text-decoration: underline;
}
#other-services {
    display: none;
    position: relative;
    width: 100%;
    justify-content: center;
}
.app {
    position: relative;
    bottom: 2px;
}
#earthhref {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 84px;
}
#settings {
    display: none;
    background-color: white;
    position: relative;
    bottom: 282px;
    left: 140px;
    flex-direction: column;
    border: 1px solid #999;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    padding: 10px 0;
    width: 183px;
    height: 230px;
}
.option {
    color: #777;
    font-size: 13px;
    padding: 0 20px;
    margin: 2px 10px 0 10px;
    line-height: 44px;
}
.option:hover {
    color: #333;
    text-decoration: underline;
    cursor: pointer;
}
#settings-text:hover {
    cursor: pointer;
}